rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
      match /stories/{storyId} {
        allow read, write: if true;
      }
      match /all/info {
        allow read, write: if true;
      }
    }
  }
}